<h1>Current Teams</h1> 

<ul class="nav nav-tabs nav-justified">
  <li class="active"><%= link_to "Men's Doubles", md_path %></li>
    <li><%= link_to "Women's Doubles", wd_path %></li>
    <li><%= link_to "Mixed Doubles", xd_path %></li>
</ul>


<div class="col-md-8 col-md-offset-2"> 
  <table class="table table-hover spacer">
    <thead>
    <tr>
      <th></th> 
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td><%= link_to "Yudistira Virgus", player_path(5) %></td> 
      <td><%= link_to "Sameer Dhar", player_path(6) %> </td> 
      <td>William and Mary</td> 
    </tr>
    <tr>
      <td>2</td>
      <td>Shiwei Zhang</td> 
      <td>Karl Jacobson</td> 
      <td>William and Mary</td> 
    <tr>
      <td>3</td>
      <td>Satrio Gani</td> 
      <td>Request</td> 
      <td>William and Mary</td> 
    </tr>
    <tr>
      <td>4</td>
      <td>Jianchen Xuan</td> 
      <td>Kevin Ferguson</td> 
      <td>Adelphi</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Donald Wunder</td> 
      <td>Matt DeFrancisco</td> 
      <td>Adelphi</td>
    </tr>

    <tr>
      <td>6</td>
      <td>Du Shen</td> 
      <td>Wei Xu</td>
      <td>William and Mary</td> 
    </tr> 

    <tr>
      <td>7</td>
      <td>Michael Crawshaw</td> 
      <td>Jun Yu</td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>8</td>
      <td><%= link_to "Kevin Tran", player_path(7) %> </td> 
      <td>Daniel Marsden</td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>9</td>
      <td>Xiaoping Yang</td> 
      <td>Gao Chen</td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>10</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>11</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>12</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>13</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>14</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>15</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    <tr>
      <td>16</td>
      <td></td> 
      <td></td>
      <td></td> 
    </tr> 
    </tbody>
  </table>
</div> 
