<h1>Current Teams</h1> 

<ul class="nav nav-tabs nav-justified">
  <li class="active"><%= link_to "Men's Doubles", md_path %></li>
    <li><%= link_to "Women's Doubles", wd_path %></li>
    <li><%= link_to "Mixed Doubles", xd_path %></li>
</ul>

<div class="col-md-8 col-md-offset-2"> 
  <h2 class="spacer">Men's Doubles</h2> 
  <table class="table table-hover spacer">
    <thead>
    <tr>
      <th></th> 
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td><%= link_to "Yudistira Virgus", player_path(5) %></td> 
      <td><%= link_to "Sameer Dhar", player_path(6) %> </td> 
      <td>William and Mary</td> 
    </tr>
    <tr>
      <td>2</td>
      <td><%= link_to "Shiwei Zhang", player_path(66) %></td> 
      <td><%= link_to "Karl Jacobson", player_path(56) %></td> 
      <td>William and Mary</td> 
    </tr> 

    <tr>
      <td>3</td>
      <td><%= link_to "Nisaraj Dharmarajan", player_path(10) %></td> 
      <td><%= link_to "Xavier Konathappalli", player_path(13) %></td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>4</td>
      <td><%= link_to "Jianchen Xuan", player_path(47) %></td> 
      <td><%= link_to "Kevin Ferguson", player_path(48) %></td> 
      <td>Adelphi</td>
    </tr>

    <tr>
      <td>5</td>
      <td><%= link_to "Donald Wunder", player_path(46) %></td> 
      <td><%= link_to "Matt De Francisco", player_path(50) %></td> 
      <td>Adelphi</td>
    </tr>

    <tr>
      <td>6</td>
      <td><%= link_to "Du Shen", player_path(57) %></td> 
      <td><%= link_to "Wei Xu", player_path(58) %></td>
      <td>William and Mary</td> 
    </tr> 

    <tr>
      <td>7</td>
      <td><%= link_to "Mike Crawshaw", player_path(40) %></td> 
      <td><%= link_to "Jun Yu", player_path(11) %></td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>8</td>
      <td><%= link_to "Kevin Tran", player_path(7) %> </td> 
      <td><%= link_to "Daniel Marsden", player_path(14) %></td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>9</td>
      <td><%= link_to "Xiaoping Yang", player_path(38) %></td> 
      <td><%= link_to "Gao Chen", player_path(68) %></td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>10</td>
      <td><%= link_to "Truong Pham", player_path(67) %></td> 
      <td><%= link_to "Bill McMahon", player_path(65) %></td>
      <td>Duke</td> 
    </tr> 

    <tr>
      <td>11</td>
      <td><%= link_to "David Wang", player_path(29) %></td> 
      <td>Chris Flower</td>
      <td>Duke</td> 
    </tr> 

    <tr>
      <td>12</td>
      <td><%= link_to "Gary Zhang",   player_path(51) %></td> 
      <td><%= link_to "George Chang", player_path(34) %></td>
      <td>Duke</td> 
    </tr> 

    <tr>
      <td>13</td>
      <td><%= link_to "Pritak Patel", player_path(31) %></td> 
      <td><%= link_to "Stephen Kwok", player_path(52) %></td>
      <td>Duke</td> 
    </tr> 
    
    <tr>
      <td>14</td>
      <td><%= link_to "Henry Sun",  player_path(12) %></td> 
      <td><%= link_to "Desh Rajan", player_path(23) %></td> 
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>15</td>
      <td><%= link_to "Rijo Reji", player_path(37) %></td> 
      <td><%= link_to "Satrio Gani", player_path(26) %></td>
      <td>RBC/WM</td> 
    </tr> 

    <tr>
      <td>16</td>
      <td><%= link_to "Brandon Hoe", player_path(19) %></td> 
      <td><%= link_to "Leon Grodski de Barrera", player_path(22) %></td> 
      <td>NCBC</td> 
    </tr> 
    </tbody>
  </table>
</div> 

<div class="col-md-8 col-md-offset-2">
  <h2 class="spacer">Wait List</h2>
  <table class="table table-hover spacer"> 
    <thead>
      <tr>
        <th></th>
        <th>Partner 1</th> 
        <th>Partner 2</th> 
        <th>Club</th> 
      </tr> 
    </thead>

    <tbody> 
      <tr>
        <td>1</td>
        <td><%= link_to "Chunwang Gao", player_path(24) %></td> 
        <td>Weiping Yang</td>
        <td>Richmond</td>
      </tr>
      <tr>
        <td>2</td>
        <td><%= link_to "Don Lanka Ranasinghe", player_path(18) %></td>
        <td>Request</td>
        <td>Virginia Beach</td> 
      </tr>
    </tbody> 
  </table> 
</div>
