<h1>Current Teams</h1>

<div class="col-md-8 col-md-offset-2"> 
  <h2>Men's Doubles</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to "Yudistira Virgus", player_path(5) %></td> 
      <td><%= link_to "Sameer Dhar", player_path(6) %> </td> 
      <td>WM</td>
    </tr>
    <tr>
      <td>Shiwei Zhang</td> 
      <td>Karl Jacobson</td> 
      <td>WM</td>
    </tr>
    <tr>
      <td>Satrio Gani</td> 
      <td>Request</td> 
      <td>WM</td>
    </tr>
    <tr>
      <td>Jianchen Xuan</td> 
      <td>Kevin Ferguson</td> 
      <td>Adelphi</td>
    </tr>
    <tr>
      <td>Donald Wunder</td> 
      <td>Matt DeFrancisco</td> 
      <td>Adelphi</td>
    </tr>
    </tbody>
  </table>
</div> 
<div class="col-md-8 col-md-offset-2"> 
  <h2>Women's Doubles</h2> 
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead> 

    <tbody> 
    <tr>
      <td>Shan Li</td>
      <td>Jerry Nguyen</td>
      <td>WM</td>
    </tr> 
    <tr>
      <td><%= link_to "Jenny Cheung", player_path(2) %> </td>
      <td>Sharon Ma</td>
      <td></td>
    </tr> 
    <tr>
      <td><%= link_to "Lingji Zhang", player_path(3) %> </td>
      <td>Pingping Fan</td>
      <td>VaB</td>
    </tr> 
    <tr>
      <td>Yao Zhao</td>
      <td>Alissa Montalbano</td>
      <td>Adelphi</td>
    </tr> 
    <tr>
      <td>Daylyn Wu</td>
      <td>Evelyn Rivera</td>
      <td>Adelphi</td>
    </tr> 
    </tbody> 
  </table> 

</div> 
<div class="col-md-8 col-md-offset-2"> 
  <h2>Mixed Doubles</h2> 

  <table class="table table-hover"> 
    <thead> 
      <tr>
        <th>Partner 1</th> 
        <th>Partner 2</th> 
        <th>Club</th> 
      </tr> 
    </thead> 

    <tbody>
      <tr> 
        <td><%= link_to "Yudistira Virgus", player_path(5) %></td> 
        <td>Jerry Nguyen</td> 
        <td>WM</td> 
      </tr> 
      <tr> 
        <td><%= link_to "Sameer Dhar", player_path(6) %> </td> 
        <td>Shan Li</td> 
        <td>WM</td> 
      </tr> 
      <tr> 
        <td>Jin Su Hwang</td> 
        <td><%= link_to "Jenny Cheung", player_path(2) %> </td>
        <td></td> 
      </tr> 
      <tr> 
        <td>Henry Sun</td> 
        <td><%= link_to "Lingji Zhang", player_path(3) %> </td>
        <td>VaB</td> 
      </tr> 
      <tr> 
        <td>Jianchen Xuan</td> 
        <td>Yao Zhao</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>Kevin Ferguson</td> 
        <td>Alissa Montalbano</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>Donald Wunder</td> 
        <td>Jenna Cavuto</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>Matt DeFrancisco</td> 
        <td>DayLyn Wu</td> 
        <td>Adelphi</td> 
      </tr> 
    </tbody> 
  </table> 
</div> 
