<% provide(:title, 'Fall 2013 Tournament') %>
<h1>2013 William and Mary Tournament</h1>
<div class="container"> 

  <div class="row spacer"> 
    <div class="col-md-3 no-gutter"> 
      <ul> 
        <h2>Location</h2> 
        <li><b>College of William and Mary</b></li> 
        <li>Adair Hall</li> 
        <li>251 Ukrop Way</li> 
        <li>Williamsburg, VA 23185</li> 
      </ul> 
    </div> 
    <div class="col-md-3 no-gutter"> 
      <ul> 
        <h2>Schedule</h2> 
        <li><b>Saturday November 9, 2013</b></li>
        <li>Registration and Warm-up: 8:00am – 8:30am</li> 
        <li>ALL Mixed Doubles competitors MUST arrive before 8:30am</li> 
        <ul> 
          <li>Mixed Doubles: 8:30am</li>
          <li>Women’s Doubles: 11:00am </li>
          <li>Men’s Doubles: 12:00pm</li> 
        </ul> 
          <li>The facility closes promptly at 7:00pm</li> 
      </ul> 
     </div>
      <div class="col-md-3 no-gutter"> 
        <h2>Format and Events</h2> 
        <ul> 
          <li><b>Events</b>: Doubles Only: MD, XD, WD </li> 
          <li><b>Format</b>: A/B/C/D drop down. 
            (All games start in the A bracket. First round A losers move to the C bracket, 
            second round A losers move to the B bracket. First round C losers move to the 
            D bracket. You are out with any loss in your third match or later.) 
            <br> * We reserve the right to make necessary adjustments for the game format.</li>
      </div> 
    <div class="col-md-3 no-gutter"> 
      <ul> 
        <h2>Other</h2> 
        <li>Rules can be found at <%= link_to "this link", rules_path %>.</li> 
        <li>You must sign the registration form and mail us a check to be 
        considered registered. Late entries will not be considered. </li> 
        <li><b>Entry Fee:</b> $15 per event + $10 facility fee</li> 
        <li><b>USAB Membership</b>: Not required</li> 
        <li><b>Shuttlecocks</b>: Yonex AS-40</li> 
        <li><b>Lunch</b>: Pizza and drinks</li>
        <li><b>Prizes</b>: Awards to all winners and finalists in each bracket</li> 
      </ul>
    </div> 
  </div> 

  <div class="row spacer text-center">
    <div class="col-md-4"> 
      <%= link_to "Sign up for tournament online", signup_path, class: "btn btn-lg btn-primary" %>
    </div> 
    
    <div class="col-md-4">
      <a class="btn btn-success btn-lg" href="/registration.pdf" >
        <%= fa_icon "file" %> Sign up by mail</a>
    </div>

    <div class="col-md-4"> 
      <%= link_to "View tournament rules", rules_path, class: "btn btn-lg btn-info" %> 
    </div> 
  </div> 

  <div class="row spacer">
    <div id="map" class="col-md-10 col-md-offset-1"></div> 
  </div> 


</div>


<script> 
var defaulticon = L.icon({

    iconUrl:   '<%= asset_path('marker-icon.png') %>',
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',

    //iconSize:     [38, 95], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-10, -10] // point from which the popup should open relative to the iconAnchor
});
  var lat = 37.2686;
  var lon = -76.7183; 

  var map = L.map('map', {
      center: [lat, lon],
      zoom: 17
  });

  L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
    key: '0b9e3b46e10f417182b04a610be00f88',
    styleId: 997
  }).addTo(map);

L.marker([lat, lon], {icon: defaulticon}).addTo(map);
</script>
