<% provide(:title, 'About Us') %>
<h1>2013 William and Mary Tournament</h1>
<div class="container"> 

<div class="row spacer"> 
  <div class="span5 offset1"> 
  <ul> 
    <h2>Registration and Location</h2> 
    <li>The registration form can be found <%= link_to "here", "/registration.pdf" %>.</li>
    <li>The tournament will be held in Adair Hall. </li>
    <li>For google maps directions, you can use <%= link_to "this link", "https://www.google.com/maps/preview#!data=!4m18!3m17!1m1!1sCurrent+Location!1m5!1sAdair+Hall%2C+251+Ukrop+Way%2C+Williamsburg%2C+Virginia+23185!2s0x89b0899d93f405d9%3A0x2a7791ce61a01bc3!3m2!3d37.268604!4d-76.71807!3m8!1m3!1d2299!2d-76.7120662!3d37.269209!3m2!1i1152!2i556!4f13.1&fid=0" %>.</li>
    <li>You must sign the registration form and mail us a check to be considered registered. Late entries will not be considered. 
    </li> 
  </ul>
  </div> 
  <div class="span5"> 
  <h2>Rules</h2> 
  <ul> 
    <li>Please show up at least <b>15 minutes</b> before your first event. 
    <li>All normal IBF laws of badminton apply (except as noted below.) 
    <li>Warm-up time is <b>strictly limited</b> to <b>5 minutes</b> for a player's first match of the tournament and 
    <b>2 minutes</b> for subsequent matches.</li> 
    <li>A team must enter the court within <b>5 minutes</b> after being called for a match, or they will be considered to 
      <b>forfeit</b> the match. 
    <li>The shuttlecock hitting any part of the ceiling will be considered a <b>fault</b>,
      and a point will be awarded to the opposing team.</li> 
  </ul> 
  </div>
</div> 
<div class="row spacer text-center">
  <div class="span5 offset1"> 
    <%= link_to "Sign up for tournament online!", new_user_path, class: "btn btn-large btn-primary control-group" %>
  </div> 
  <div class="span5"> 
    <%= link_to "Sign up for tournament by mail!", "/registration.pdf", class: "btn btn-large btn-primary control-group" %> 
  </div> 

</div> 
  <div class="row spacer">
    <div id="map" class="span10 offset1"></div> 
  </div> 
</div>


<script> 
var defaulticon = L.icon({

    iconUrl:   '<%= asset_path('marker-icon.png') %>',
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',

    //iconSize:     [38, 95], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-10, -10] // point from which the popup should open relative to the iconAnchor
});
  var lat = 37.2686;
  var lon = -76.7183; 

  var map = L.map('map', {
      center: [lat, lon],
      zoom: 17
  });

  L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
    key: '0b9e3b46e10f417182b04a610be00f88',
    styleId: 997
  }).addTo(map);

L.marker([lat, lon], {icon: defaulticon}).addTo(map);
</script>
