<h1>Current Teams</h1>

<ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Men's Doubles", md_path %></li>
    <li class="active" ><%= link_to "Women's Doubles", wd_path %></li>
    <li><%= link_to "Mixed Doubles", xd_path %></li>
</ul>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover spacer">
    <thead>
    <tr>
      <th></th> 
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead> 

    <tbody> 
    <tr>
      <td>1</td> 
      <td><%= link_to "Shan Li", player_path(59) %></td>
      <td><%= link_to "Jerri Nguyen", player_path(8) %></td>
      <td>William and Mary</td>
    </tr> 
    <tr>
      <td>2</td> 
      <td><%= link_to "Jenny Cheung", player_path(2) %> </td>
      <td><%= link_to "Sharon Ma", player_path(36) %></td>
      <td>VCU/RBC</td>
    </tr> 
    <tr>
      <td>3</td> 
      <td><%= link_to "Lingji Zhang", player_path(3) %> </td>
      <td><%= link_to "Pingping Fan", player_path(41) %></td>
      <td>Virginia Beach</td>
    </tr> 
    <tr>
      <td>4</td> 
      <td><%= link_to "Yao Zhao", player_path(49) %></td>
      <td><%= link_to "Alissa Montalbano", player_path(45) %></td>
      <td>Adelphi</td>
    </tr> 
    <tr>
      <td>5</td> 
      <td><%= link_to "Daylyn Wu", player_path(44) %></td>
      <td><%= link_to "Evelyn Rivera", player_path(42) %></td>
      <td>Adelphi</td>
    </tr> 

    <tr>
      <td>6</td> 
      <td><%= link_to "Maria Victoria Somers", player_path(9) %></td> 
      <td><%= link_to "Qingyan Zhu", player_path(39) %></td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>7</td> 
      <td><%= link_to "Melissa Wu", player_path(69) %></td> 
      <td><%= link_to "Amy Zhao", player_path(33) %></td>
      <td>Duke</td> 
    </tr> 

    <tr>
      <td>8</td> 
      <td><%= link_to "Jeannie Yim", player_path(30) %></td> 
      <td><%= link_to "April Pun", player_path(61) %></td>
      <td>Duke</td> 
    </tr> 

      <tr>
        <td>9</td> 
        <td><%= link_to "Aditi Sabhlok", player_path(32) %></td> 
        <td><%= link_to "Judith Leng", player_path(54) %></td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>10</td> 
        <td><%= link_to "Anusha Liyanage", player_path(16) %></td> 
        <td><%= link_to "Gayathri Shivaraj", player_path(17) %></td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>11</td> 
        <td><%= link_to "Connie Wang", player_path(20) %> </td>
        <td><%= link_to "Yusun Wang", player_path(15) %></td>
        <td>JMU</td> 
      </tr> 
      <tr>
        <td>12</td> 
        <td><%= link_to "Hannah Nguyen", player_path(25) %> </td> 
        <td><%= link_to "Hoang Luu", player_path(63) %></td>
        <td></td> 
      </tr> 
    </tbody> 
  </table> 
</div> 

<div class="col-md-8 col-md-offset-2">
  <h2 class="spacer">Wait List</h2>
  <table class="table table-hover spacer"> 
    <thead>
      <tr>
        <th></th>
        <th>Partner 1</th> 
        <th>Partner 2</th> 
        <th>Club</th> 
      </tr> 
    </thead>

    <tbody>
      <tr> 
        <td>1</td> 
        <td>Thi Pham</td> 
        <td>Request</td> 
        <td>VCU</td> 
      </tr>
    </tbody>
  </table> 
</div>
