<h1>Current Teams</h1>

<ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Men's Doubles", md_path %></li>
    <li class="active" ><%= link_to "Women's Doubles", wd_path %></li>
    <li><%= link_to "Mixed Doubles", xd_path %></li>
</ul>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover spacer">
    <thead>
    <tr>
      <th></th> 
      <th>Partner 1</th> 
      <th>Partner 2</th>
      <th>Club</th> 
    </tr>
    </thead> 

    <tbody> 
    <tr>
      <td>1</td> 
      <td>Shan Li</td>
      <td><%= link_to "Jerri Nguyen", player_path(8) %></td>
      <td>William and Mary</td>
    </tr> 
    <tr>
      <td>2</td> 
      <td><%= link_to "Jenny Cheung", player_path(2) %> </td>
      <td>Sharon Ma</td>
      <td>VCU/RBC</td>
    </tr> 
    <tr>
      <td>3</td> 
      <td><%= link_to "Lingji Zhang", player_path(3) %> </td>
      <td>Pingping Fan</td>
      <td>Virginia Beach</td>
    </tr> 
    <tr>
      <td>4</td> 
      <td>Yao Zhao</td>
      <td>Alissa Montalbano</td>
      <td>Adelphi</td>
    </tr> 
    <tr>
      <td>5</td> 
      <td>Daylyn Wu</td>
      <td>Evelyn Rivera</td>
      <td>Adelphi</td>
    </tr> 

    <tr>
      <td>6</td> 
      <td><%= link_to "Maria Victoria Somers", player_path(9) %></td> 
      <td>Qingyan Zhu</td>
      <td>Virginia Beach</td> 
    </tr> 

    <tr>
      <td>7</td> 
      <td>Melissa Wu</td> 
      <td>Amy Zhao</td>
      <td>Duke</td> 
    </tr> 

    <tr>
      <td>8</td> 
      <td>Jeannie Yim</td> 
      <td>April Pun</td>
      <td>Duke</td> 
    </tr> 

      <tr>
        <td>9</td> 
        <td>Aditi Sabhlok</td> 
        <td>Judith Leng</td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>10</td> 
        <td><%= link_to "Anusha Liyanage", player_path(16) %></td> 
        <td><%= link_to "Gayathri Shivaraj", player_path(17) %></td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>11</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
      <tr>
        <td>12</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
      <tr>
        <td>13</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
      <tr>
        <td>14</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
      <tr>
        <td>15</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
      <tr>
        <td>16</td> 
        <td></td> 
        <td></td>
        <td></td> 
      </tr> 
    </tbody> 
  </table> 
</div> 
