<h1>Current Teams</h1>

<ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Men's Doubles", md_path %></li>
    <li><%= link_to "Women's Doubles", wd_path %></li>
    <li class="active" ><%= link_to "Mixed Doubles", xd_path %></li>
</ul>

<div class="col-md-8 col-md-offset-2"> 
  <table class="table table-hover spacer"> 
    <thead> 
      <tr>
        <th></th> 
        <th>Partner 1</th> 
        <th>Partner 2</th> 
        <th>Club</th> 
      </tr> 
    </thead> 

    <tbody>
      <tr> 
        <td>1</td>
        <td><%= link_to "Yudistira Virgus", player_path(5) %></td> 
        <td><%= link_to "Jerri Nguyen", player_path(8) %></td> 
        <td>William and Mary</td> 
      </tr> 
      <tr> 
        <td>2</td>
        <td>Jin Su Hwang</td> 
        <td><%= link_to "Jenny Cheung", player_path(2) %> </td>
        <td></td> 
      </tr> 
      <tr> 
        <td>3</td>
        <td>Henry Sun</td> 
        <td><%= link_to "Lingji Zhang", player_path(3) %> </td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr> 
        <td>4</td>
        <td>Jianchen Xuan</td> 
        <td>Yao Zhao</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>5</td>
        <td>Kevin Ferguson</td> 
        <td>Alissa Montalbano</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>6</td>
        <td>Donald Wunder</td> 
        <td>Jenna Cavuto</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr> 
        <td>7</td>
        <td>Matt DeFrancisco</td> 
        <td>DayLyn Wu</td> 
        <td>Adelphi</td> 
      </tr> 
      <tr>
        <td>8</td> 
        <td>Michael Crawshaw</td> 
        <td>Pingping Fan</td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>9</td> 
        <td>Jun Yu</td> 
        <td>Yusun Wang</td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>10</td> 
        <td><%= link_to "Kevin Tran", player_path(7) %></td> 
        <td><%= link_to "Maria Victoria Somers", player_path(9) %></td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>11</td> 
        <td>Qingyan Zhu</td> 
        <td>Xiaoping Yang</td>
        <td>Virginia Beach</td> 
      </tr> 
      <tr>
        <td>12</td> 
        <td>Chris Flower</td> 
        <td>Melissa Wu</td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>13</td> 
        <td>David Wang</td> 
        <td>Aditi Sabhlok</td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>14</td> 
        <td>George Chang</td> 
        <td>Jeannie Yim</td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>15</td> 
        <td>Stephen Kwok</td> 
        <td>Amy Zhao</td>
        <td>Duke</td> 
      </tr> 
      <tr>
        <td>16</td> 
        <td>Gary Zhang</td> 
        <td>Judith Leng</td>
        <td>Duke</td> 
      </tr> 
    </tbody> 
  </table> 
</div> 
