<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<style> 
  .center {
   margin:0 auto;
   float:none;
  }
</style> 
<div class="container-fluid">
  <div class="row"> 
    <p> Use this form to sign up. If you don't know who you want to be your partner, just enter 
    'Request' and we'll find one for you. Remember, you still need to 
    send a check to Yudis if you sign up with this method. </p> 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %> 

      <%= f.label :partner%>
      <%= f.text_field :partner %>


  </div> 
      <div class="row "> 
      <p> Check the boxes for the brackets for which you intend to sign up.</p> 
      <div class="span2 offset3"> 
        <%= radio_button_tag(:md, 'MDA') %> MDA <br> 
        <%= radio_button_tag(:md, 'MDB') %> MDB <br> 
      </div> 
      <div class="span2"> 
        <%= radio_button_tag(:wd, 'WDA') %> WDA <br> 
        <%= radio_button_tag(:wd, 'WDB') %> WDB <br> 
      </div> 
      <div class="span2"> 
        <%= radio_button_tag(:xd, 'XDA') %> XDA <br> 
        <%= radio_button_tag(:xd, 'XDB') %> XDB <br> 
      </div> 
    </div>

      <div class="row spacer">
      <div class="span6 offset3"> 
        <%= f.submit "Signup for the tournament!", class: "btn btn-large btn-primary" %>
        <%= f.submit "Clear form", class: "btn btn-large btn-danger", :type => "reset" %> 
      </div>
      </div> 
      <% end %> 
  </div>
</div> 
