<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3"> 
    <p> Your partner(s) also needs to sign up separately. </p> 
    <p>You can enter 'request' in the partner field if you don't have a partner.  
    Remember, you still need to send a check payable to Yudistira Virgus to guarantee your spot 
    <b>as soon as possible</b>, 
    and certainly to arrive <b>no later than</b> November 1st. </p> 

    <%= simple_form_for(@user, html: {class: 'form-horizontal spacer' }) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.input :name %> 
      <%= f.input :gender, collection: 'Male,Female'.split(',') %>
      <%= f.input :email %>
      <%= f.input :address_street,      label: 'Street address'  %> 
      <%= f.input :address_city_state,  label: 'City, State' %> 
      <%= f.input :address_zip,         label: 'Zipcode' %> 
      <%= f.input :phone, as: :tel,     label: 'Phone Number' %> 
      <%= f.input :club %> 
      <p> Select a skill level so that we have a better idea of where to seed you. </p> 
      <%= f.input :skill, collection: 'A,B,C,D'.split(',') %> 

      <p> Check the boxes for the categories and fill in a partner's name for each event 
      for which you want to sign up.</p> 

      <%= f.input :md, as: :boolean, label: 'MD' %>
      <%= f.input_field :md_partner %>

      <%= f.input :wd, as: :boolean, label: 'WD' %>
      <%= f.input_field :wd_partner %>

      <%= f.input :xd, as: :boolean, label: 'XD' %>
      <%= f.input_field :xd_partner %>

      <p>Enter how much you have to pay. Fees are $15 per event, plus a $10 facility fee. 
      <%= f.input :fees, :class => 'input-small'  %>

      <small> By entering my full name here, I agree to waive any and all claims which
      may arise from my participation in the William and Mary Badminton
      Tournament. In consideration of my being permitted to participate in
      this competition, I, the person named below, release and discharge the
      William and Mary Badminton Club, organizers, and all participants in
      this event harmless for any bodily injury to myself or others, or for
      damage to, or loss of, my properties incurred during the course of the
      Tournament. </small> 

      <%= f.input :signature %>

      <div class="col-md-4 col-md-offset-2">
        <%= f.button :submit, 'Sign up!', :class => 'btn btn-lg btn-primary'  %> 
      </div> 
      <div class="col-md-4">
        <%= f.button :button, 'Clear form', :type => 'reset', :class => 'btn btn-lg btn-danger' %>
      </div>
    <% end %> 
  </div>
</div> 
