<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="container">
  <div class="row"> 
    <div class="span6 offset3"> 
      <p> Your partner(s) also needs to sign up separately. </p> 
    <p>You can enter 'request' in the partner field if you don't have a partner.  
    Remember, you still need to send a check payable to Yudistira Virgus to guarantee your spot. </p> 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %> 

      <%= f.label :partner%>
      <%= f.text_field :partner %>

    </div> 

  </div> 
      <div class="row text-center"> 
      <div class="span6 offset3"> 
      <p> Check the boxes for the brackets for which you intend to sign up.</p> 
    </div> 
      <div class="span2 offset3"> 
        <%= check_box(:md, 'MD') %> MD <br> 
      </div> 
      <div class="span2"> 
        <%= check_box(:wd, 'WD') %> WD <br> 
      </div> 
      <div class="span2"> 
        <%= check_box(:xd, 'XDA') %> XD <br> 
      </div> 
    </div>

      <div class="row spacer">
      <div class="span6 offset3"> 
        <small> By entering my full name here, I agree to waive any and all claims which
        may arise from my participation in the William and Mary Badminton
        Tournament. In consideration of my being permitted to participate in
        this competition, I, the person named below, release and discharge the
        William and Mary Badminton Club, organizers, and all participants in
        this event harmless for any bodily injury to myself or others, or for
        damage to, or loss of, my properties incurred during the course of the
        Tournament. </small> 

        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Sign up for the tournament!", class: "btn btn-large btn-primary" %>
        <%= f.submit "Clear form", class: "btn btn-large btn-danger", :type => "reset" %> 
      </div>
      </div> 
    <% end %> 
  </div>
</div> 
