<% provide(:title, @user.name) %>
<div class="container-fluid">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        asset_path = <%= asset_path('marker-icon.png') %>
      </h1>
    </section>
  </aside>
  <aside id="map">
  </aside> 
</div>

<script> 

  var lat = <%= @user.latitude %>
  var lon = <%= @user.longitude %> 

  var map = L.map('map', {
      center: [lat, lon],
      zoom: 17
  });

  L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
    key: '0b9e3b46e10f417182b04a610be00f88',
    styleId: 997
  }).addTo(map);

  L.marker([lat, lon]).addTo(map)
  .bindPopup('<%= @user.name %>: last seen here.')
  .openPopup();

  //L.marker([<%= @user.latitude %>, <%= @user.longitude %>]).addTo(map);
</script>
