<li>
<div class="container">
  <div class="row"> 
    <div class="col-md-8 text-left"> 
      <%= link_to player.name, player %>
    </div>

    <div class="col-md-2 text-right"> 
      <% if admin_signed_in? %>
        <%= link_to "delete", player, method: :delete,
                                      data: { confirm: "You sure?" }, class: "btn btn-xs btn-danger" %>
        <%= link_to "edit", edit_player_path(player), class: "btn btn-xs btn-info" %>
      <% end %>
      Paid: <%= player.paid %>
    </div> 

  </div>
  <div class="row"> 
    <div class="col-md-8"> 
      <%= player.club %>
    </div> 
</div> 
  
</li>
