<li>
<div class="container">
  <div class="row"> 
    <div class="col-md-3 text-left"> 
      <%= link_to player.name, player %>

      <% if admin_signed_in? %>
        | <%= link_to "delete", player, method: :delete,
                                      data: { confirm: "You sure?" } %>
                                    | <%= link_to "edit", player, method: :update %>
      <% end %>

    </div>

    <div class="col-md-2 col-md-offset-7 text-right"> 
      Paid: <%= player.paid %>
    </div> 

  </div>
  <div class="row"> 
    <div class="col-md-3"> 
      <%= player.club %>
    </div> 
</div> 
  
</li>
